{% extends "base.html" %}
{% load static %}

{% block extrahead %}
  <link href="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.css" rel="stylesheet" />
  <script type="module" src="{% static 'js/brew-gis-map.js' %}"></script>
{% endblock extrahead %}

{% block title %}
  Map - {{ workspace.name }}
{% endblock title %}

{% block content %}
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">{{ workspace.name }}</h5>
          <a href="{% url 'workspace:home' %}" class="btn btn-sm btn-outline-secondary">Back</a>
        </div>
        <div class="card-body p-0">
          <brew-gis-map
            map-style="https://raw.githubusercontent.com/go2garret/maps/main/src/assets/json/openStreetMap.json"
            viewport='{{ viewport_json|safe }}'
            layers='{{ layers_json|safe }}'>
          </brew-gis-map>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
